<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skeleton</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Skeleton</span>
        </div>
    </nav>
    <div class="container mt-2">
        <form hx-post="/messages"  hx-disabled-elt="#message" hx-target="#messages">
        <div>
            <label for="message" class="form-label">Your message</label>
            <input type="text" class="form-control" id="message" name="message" placeholder="Enter your message" autofocus>
        </div>
    </form>
        <hr>
        <h4>Messages</h4>
        <div hx-get="/messages" hx-trigger="load, every 2s" id="messages"></div>
    </div>
    <script src="/assets/bootstrap.bundle.min.js"></script>
    <script src="/assets/htmx.min.js"></script>
</body>

</html>